<div>
    <div class="modal" id="addDocumentary" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" style="min-width: 80%" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Thêm công văn</h3>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-4">
                            <h2 style="display:none;" id="uid"><%=user.id %></h2>
                            <div>
                                <div class="sub-title p-2">Số văn bản</div>
                                <div>
                                    <input type="text" class="form-control" value="" id="numberDocumentary"
                                        placeholder="Tên công văn...">
                                </div>
                            </div>
                            <div>
                                <div class="sub-title p-2">Tên văn bản</div>
                                <div>
                                    <input type="text" class="form-control" id="name" value=""
                                        placeholder="Tên công văn...">
                                </div>
                            </div>
                            <div class="">
                                <div class="sub-title p-2">Nơi gửi</div>
                                <div>
                                    <input type="text" class="form-control" id="addressSending" value=""
                                        placeholder="Tên công văn...">
                                </div>
                            </div>
                            <div class="">
                                <div class="sub-title p-2">Nơi ký</div>
                                <div>
                                    <input type="text" class="form-control" value="" id="addressSign" value=""
                                        placeholder="Tên công văn...">
                                </div>
                            </div>
                            <div class="">
                                <div class="sub-title p-2">Loại công việc</div>
                                <div>
                                    <select class="select-category w-100" value="">
                                    </select>
                                </div>
                            </div>
                            <%if(helpers.hasCap(claims,"manage|post|manageDepartment")){%>
                            <div class="">
                                <div class="sub-title p-2">Phòng ban</div>
                                <div>
                                    <select class="w-100" id="selectUser1" value="">
                                    </select>
                                </div>
                            </div>
                            <%}%>
                        <div class="">
                            <div class="sub-title p-2">Ngày tạo</div>
                            <div>
                                <input type="text" class="form-control" id="calendar-tomorrow" value="" readonly>
                            </div>
                        </div>
                        <div class="">
                            <div class="sub-title p-2">Ngày hiệu lực</div>
                            <div>
                                <input type="text" class="form-control" id="effectiveDate" value="">
                            </div>
                        </div>
                        <div class="">
                            <div class="sub-title p-2">Ngày hết hiệu lực</div>
                            <div>
                                <input type="text" class="form-control" id="expirationDate" value="">
                            </div>
                        </div>
                        <%if(helpers.hasCap(claims,"manage|manageDepartment")){%>
                            <div class="d-flex justify-content-start">
                                <div class="w-50">
                                    <div class="sub-title p-2">Loại công việc</div>
                                    <select id="selectTypeDocumentaryAdd" class="w-100" value="">
                                    </select>
                                </div>
                            </div>
                            <%}%>
                    </div>
                    <div class="col-8">
                        <div class="">
                            <div class="sub-title p-2">Tóm tắt</div>
                            <div>
                                <textarea class="form-control" rows="3" value="" id="summary"></textarea>
                            </div>
                        </div>
                        <div class="">
                            <div class="sub-title p-2">Tệp đính kèm</div>
                            <div>
                                <input type="file" class="form-control-file" value="" id="fileUploads" multiple>
                            </div>
                        </div>
                        <div class="" id="listImage">
                        </div>
                        <div>
                            <div class="sub-title p-2">Nội dung</div>
                            <textarea cols="10" class="form-control" id="contentDocumentary"></textarea>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Hủy</button>
                    <%if(helpers.hasCap(claims,"manage|manageDepartment|post")){%>
                            <button type="button" class="btn btn-primary" id="submitAddDocumentary">Thêm</button>
                            <%}%>
                </div>
            </div>
        </div>
    </div>
</div>

    <script type="text/javascript">
        var host = window.location.protocol + '//' + window.location.host;
        tinymce.init({
            selector: '#contentDocumentary',
            plugins: 'image media link tinydrive code imagetools paste',
            toolbar: 'insertfile undo redo | styleselect | bold italic | alignleft aligncenter alignright alignjustify | bullist numlist outdent indent | link image',
            image_title: true,
            automatic_uploads: true,
            file_picker_types: 'file image media',
            images_upload_handler: function (blobInfo, success, failure) {
                var xhr, formData;
                xhr = new XMLHttpRequest();
                xhr.withCredentials = false;
                xhr.open('POST', '/uploads');
                xhr.onload = function () {
                    var json;

                    if (xhr.status != 200) {
                        failure('HTTP Error: ' + xhr.status);
                        return;
                    }
                    json = JSON.parse(xhr.responseText);

                    if (!json || typeof json.location != 'string') {
                        failure('Invalid JSON: ' + xhr.responseText);
                        return;
                    }
                    success(json.location);
                };
                formData = new FormData();
                formData.append('file', blobInfo.blob(), blobInfo.filename());
                xhr.send(formData);
            },
        });

        // todo: select users
        $(window).load(function () {
            callApi('department/lists', 'Get').then(res => {
                return res.json();
            }).then(res => {
                var data = res.items.map(x => { return { "id": x.id, "text": x.name } });
                $("#selectUser1").select2({
                    placeholder: "Phòng ban...",
                    minimumResultsForSearch: Infinity,
                    data: data,
                });
            })
            var data = [
                { "id": 0, "text": "Không phản hồi" },
                { "id": 1, "text": "Có phản hồi" }
            ];
            $("#selectTypeDocumentaryAdd").select2({
                placeholder: "Loại công văn...",
                minimumResultsForSearch: Infinity,
                data: data,
            });
            var data = [
                { "id": 0, "text": "Mới" },
                { "id": 1, "text": "Chưa xử lý" },
                { "id": 2, "text": "Đã xử lý" }
            ];
            $("#selectStatusDocumentary").select2({
                placeholder: "Trạng thái...",
                minimumResultsForSearch: Infinity,
                data: data,
            });
        });

        // todo: categorys
        $(window).load(function () {
            callApi('documentary/category-list', 'Get').then(res => {
                return res.json();
            }).then(res => {
                var data = res.users.map(x => { return { "id": x.id, "text": x.name } });
                $(".select-category").select2({
                    placeholder: "Loại công văn...",
                    minimumResultsForSearch: Infinity,
                    data: data,
                });
            })
        });
        // todo : calendar
        flatpickr('#calendar-tomorrow', {
            "minDate": new Date(),
            dateFormat: "d-m-Y",
            defaultDate: new Date(),
            clickOpens: false
        });
        flatpickr('#effectiveDate', {
            "minDate": new Date(),
            dateFormat: "d-m-Y",
        });
        flatpickr('#expirationDate', {
            "minDate": new Date(),
            dateFormat: "d-m-Y",
        });

        // todo : uploads
        $("#fileUploads").change(function () {
            const formData = new FormData();
            const file = document.querySelector("#fileUploads");
            for (let i = 0; i < file.files.length; i++) {
                formData.append('files', file.files[i]);
            }
            uploads('uploads/multiple', 'POST', formData).then(res => {
                return res.json();
            }).then(res => {
                let box = $("#listImage");
                let div = document.createElement("div");
                div.className = "d-flex mt-1";
                res.location.map(x => {
                    var link, img;
                    switch (x.type) {
                        case "application/msword":
                            link = document.createElement("a");
                            img = document.createElement("img");
                            link.className = "link-upload pointer";
                            img.className = "image-upload";
                            link.href = `${host}/${x.url}`;
                            img.src = `${host}/assets/images/document.png`;
                            link.appendChild(img);
                            div.appendChild(link);
                            break;
                        case "image/jpeg": case "image/png": case "image/jpg": case "image/jepg": case "image/gif":
                            img = document.createElement("img");
                            img.className = "image-upload";
                            img.src = `${host}/${x.url}`;
                            div.appendChild(img);
                            break;
                    }
                })
                box.append(div);
                box.attr("data-value", encodeURIComponent(JSON.stringify(res.location)))
            })
        });

        //todo: submit
        $("#submitAddDocumentary").click(function () {
            const numberDocumentary = $("#numberDocumentary").val();
            const name = $("#name").val();
            const addressSending = $("#addressSending").val();
            const addressSign = $("#addressSign").val();
            const selectCategory = $(".select-category").val();
            const type = $("#selectTypeDocumentaryAdd").val() || 0;
            const selectUser = $("#selectUser1").val();
            const calendarTomorrow = $("#calendar-tomorrow").val();
            const effectiveDate = $("#effectiveDate").val();
            const expirationDate = $("#expirationDate").val();
            const summary = $("#summary").val();
            var content = tinymce.get("contentDocumentary").getContent();
            const images = $(".image-upload");
            const dataImage = $("#listImage").attr("data-value");
            var urlImage;
            if (dataImage) {
                urlImage = JSON.parse(decodeURIComponent(dataImage));
            } else {
                urlImage = [];
            }
            const data = {
                numberDocumentary,
                name,
                addressSending,
                addressSign,
                selectCategory,
                selectUser,
                calendarTomorrow: moment(flatpickr.parseDate(calendarTomorrow, "d/m/Y")).format("YYYY-MM-DD h:mm:ss"),
                effectiveDate: moment(flatpickr.parseDate(effectiveDate, "d/m/Y")).format("YYYY-MM-DD h:mm:ss"),
                expirationDate: moment(flatpickr.parseDate(expirationDate, "d/m/Y")).format("YYYY-MM-DD h:mm:ss"),
                summary,
                content,
                urlImage,
                type
            }
            callApi('documentary', 'Post', data).then(res => {
                return res.json();
            }).then(res => {
                if (res.success) {
                    notify("success", "Thêm thành công");
                    $("#addDocumentary").modal("hide");
                } else {
                    notify("error", "Thêm không thành công")
                }
            }).catch(x => notify("error", "Thêm không thành công"))
        });

    </script>