<nav class="p-0 navbar navbar-default top-navbar" role="navigation">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/"><strong><i class="icon fa fa-plane"></i>
                BRILLIANT</strong></a>

        <div id="sideNav" href="">
            <i class="fa fa-bars icon"></i>
        </div>
    </div>

    <ul class="nav navbar-top-links navbar-right">
        <li class="dropdown">
            <a class="p-0 pr-5 dropdown-toggle d-flex" data-toggle="dropdown" href="#" aria-expanded="false">
                <% if(user.avatar) { %>
                <div>
                    <img style="width:35px;height:35px" src=<%-user.avatar%> class="avatar" />
                </div>
                <%}else{%>
                <div class="avatar__name">
                    <span><%-helpers.charAt(user.username)%></span>
                </div>
                <%}%>
            </a>
            <ul class="dropdown-menu dropdown-user">
                <li><a href="/profile"><i class="fa fa-user fa-fw"></i>Thông tin</a>
                </li>
                <li class="divider"></li>
                <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Đăng xuất</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>
<!--/. NAV TOP  -->